.sub-title {
    /* margin-bottom: 0.5rem; */
    line-height: 1.2; /* Adjust the line height as needed */
}
.hover-effect {
    transition: transform 0.3s ease;
  }
  
  .hover-effect:hover {
    transform: scale(1.1) rotate(2deg);
  }
  .hover--effect:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease;
  }
  .elem:hover {
    box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.344);
  }